In [1]:
import numpy as np
import pandas as pd

In [2]:
A = np.random.random(100)
B = np.random.normal(size=100)
C = np.random.random(100)

In [3]:
df = pd.DataFrame(
    {'A': A,
     'B': B,
     'C': C}
)

In [4]:
df.head()

          A         B         C
0  0.199204  0.747606  0.518924
1  0.994619 -2.126074  0.516434
2  0.878702  0.364223  0.896476
3  0.660915  1.210763  0.101798
4  0.635487  1.385329  0.574442

In [7]:
df.to_json("random_data.json", orient="records")